[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Tt]est[Rr]esults/

.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
riderModule.iml
_ReSharper.Caches/

/packages/
*.nupkg
*.snupkg

/Unity/[Ll]ibrary/
/Unity/[Tt]emp/
/Unity/[Oo]bj/
/Unity/[Bb]uild/
/Unity/[Bb]uilds/
/Unity/[Ll]ogs/
/Unity/[Uu]ser[Ss]ettings/
/Unity/[Mm]emoryCaptures/
/Unity/[Rr]ecordings/
/Unity/*.csproj
/Unity/*.sln
